@model Project_WebApp.Models.Items

@{
    ViewData["Title"] = "GetItemByID";
}

<h1>Get Item By ID</h1>

<form action="GetItemByID" method="get">
    <input type="text" name="ItemID" size="40" maxlength="36"/>
    <input type="submit" value="Submit" />
</form>

  @if (Model != null)
{ 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Quantity)
            </td>
           </tr>

    </tbody>
</table>
}